.App {
  text-align: center;
}

.pizza-image{
  height:auto;
  width:100%;
  display: flexbox;
  flex-wrap: wrap;
}

.pizza-list{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  object-fit: cover;
  
}

button{
  background-color: rgb(61, 170, 146);
  color: white;
  float: right;
  margin-top: 20px;
  justify-content:space-around; 
  
}
.navbar-header{
  float: left;
  font-size:30px;
  color: rgb(255, 0, 0);
}